[submodule "subprojects/magpie"]
	path = subprojects/magpie
	url = https://gitlab.com/mission-center-devs/gng.git
[submodule "subprojects/graph-widget"]
	path = subprojects/graph-widget
	url = https://gitlab.com/mission-center-devs/graph-widget.git
